* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(-45deg, #0b0b0b, #000);
  background-size: 200%;
  animation: gradientBG 10s ease infinite;
}


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ================= HEADER ================= */
/* ================= HEADER ================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;              /* FIXED */
  background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);


  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  z-index: 1000;
}


/* LOGO */
.logo {
  height: 40px;

}

/* ================= NAVBAR ================= */
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* MAIN MENU */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;               /* CONTROLS SPACING */
  list-style: none;
  padding: 0;
  margin: 0;

}

/* LINKS */
.nav-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 4px; 
  
}

.nav-link:hover {
  opacity: 0.8;
}

/* ================= DROPDOWN ================= */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  transition: transform 0.3s ease;
}

/* MENU */
.dropdown-menu {
  position: absolute;
  top: 48px;
  left: 0;
  min-width: 220px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
  padding: 10px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(12px);
  transition: all 0.3s ease;
}

/* OPEN */
.dropdown.active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown.active .arrow {
  transform: rotate(180deg);
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 12px 18px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background: #f3f6ff;
  color: #0b5ed7;
  padding-left: 24px;
}


/* ================= RIGHT ACTIONS ================= */
.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sidebar{
  margin-left:500px;
}

/* BROCHURE */
.brochure-btn {
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  font-weight: 600;
  color: #000;
  background: #fff;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 20px;
}

.brochure-btn:hover {
  background: rgb(193, 193, 102);
  transform: translateY(-4px);
  
}

/* LOGIN */
.login-btn {
 
  padding: 14px 34px;
  background: #0b2d5e;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
}
.login-btn:hover{
   background: #0b5ed7;
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(11,94,215,0.4);
  
}



  

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* BLACK OVERLAY */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15); /* adjust 0.5–0.75 */
  z-index: 1;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  opacity: 0.5;

  
  
  
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translateY(-50%);
  color:#fff;
  
  
}

.hero-text h1 {
  font-size: 68px;
  animation: fadeIn 2s;
  margin-left: 250px;

}

.hero-text p {
  margin: 10px 0;
  margin-left: 250px;

}

.hero-text button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #0b5ed7;
  border: none;
  color: #fff;
  cursor: pointer;
   margin-left: 250px;

}
/*section*/
.about-services {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 80px;
  padding: 120px 80px;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.about-services::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at right center,
    rgba(255,255,255,0.06),
    transparent 55%
  );
  pointer-events: none;
}
/* Background Video */
.about-bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Dark Overlay for Readability */
.about-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Keep content above video */
.about-text,
.service-grid {
  position: relative;
  z-index: 2;
}

/* LEFT */
.about-text h2 {
  font-size: 42px;
  margin: 15px 0;
}

.section-tag {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
}

.about-text p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 18px;
  color: rgba(255,255,255,0.9);
}

.about-text .highlight {
  font-weight: 600;
}

/* SERVICES */
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service-box {
  background: #fff;
  padding: 35px 25px;
  border-radius: 14px;
  box-shadow: 0 15px 30px rgba(11,94,215,0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.service-box img {
  width: 48px;
  margin-bottom: 18px;
}

.service-box h4 {
  font-size: 17px;
  color: #111;
}

/* HOVER */
.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 55px rgba(11,94,215,0.35);
}

/* REVEAL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-services {
    grid-template-columns: 1fr;
    padding: 80px 30px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }
}
/* ================= SKILL SECTION ================= */
/* SKILL SECTION VIDEO BACKGROUND */
.skill-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 90px;
  padding: 120px 90px;
  align-items: center;
  overflow: hidden;
}

/* Background Video */
.skill-bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Dark overlay for readability */
.skill-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Keep content above video */
.skill-images,
.skill-content {
  position: relative;
  z-index: 2;
}

/* LEFT IMAGES */
.skill-images {
  position: relative;
}

.img-large {
  width: 100%;
  border-radius: 12px;
}

.img-small {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 55%;
  border-radius: 12px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
}

/* EXPERIENCE BADGE */
.experience-badge {
  position: absolute;
  bottom: 20px;
  left: -30px;
  background: #0b2d5e;
  color: #fff;
  padding: 18px 20px;
  border-radius: 8px;
  text-align: center;
}

.experience-badge strong {
  font-size: 22px;
}

/* RIGHT CONTENT */
.skill-content .section-tag {
  font-size: 13px;
  letter-spacing: 2px;
  color:#fff;
  font-weight: 600;
}

.skill-content h1 {
  font-size: 44px;
  line-height: 1.2;
  margin: 20px 0;
  color: #fff;
}

.skill-content h4 {
  color: #fff;
  margin-bottom: 15px;
}

.skill-content p {
  color: #fff;
  line-height: 1.8;
  margin-bottom: 25px;
}

/* FEATURES */
.skill-feature {
  display: flex;
  gap: 18px;
  margin-bottom: 22px;
}

.icon-circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #eef4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b5ed7;
  font-size: 18px;
  flex-shrink: 0;
}

.skill-feature h5 {
  margin-bottom: 6px;
}

/* ================= BUTTON ANIMATION ================= */
.discover-btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 25px;
  padding: 14px 34px;
  background: #0b2d5e;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
}

/* SLIDE SHINE EFFECT */
.discover-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  transition: 0.6s;
}

.discover-btn:hover::before {
  left: 100%;
}

.discover-btn:hover {
  background: #0b5ed7;
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(11,94,215,0.4);
}
.training-section {
  padding: 90px 70px;
  background: linear-gradient(135deg, #f6f7f9, #ffffff);
}

.training-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.training-header .tag {
  font-size: 12px;
  letter-spacing: 2px;
  color: #0b5ed7;
  font-weight: 700;
}

.training-header h2 {
  font-size: 44px;
  font-weight: 800;
  color: #111;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

/* CARDS GRID */
.training-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 22px;
}

/* CARD */
.training-card {
  position: relative;
  height: 220px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  background: #000;
}

.training-card img,
.training-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* OVERLAY */
.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.2));
  display: flex;
  align-items: flex-end;
  padding: 18px;
}

.card-overlay h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

/* HOVER EFFECT */
.training-card:hover img,
.training-card:hover video {
  transform: scale(1.12);
}

/* CTA */
.training-cta {
  margin-top: 60px;
  background: #17335f;
  color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.training-cta p {
  max-width: 70%;
  font-size: 15px;
  line-height: 1.6;
}

/* BUTTON */
.cta-btn {
  background: #fff;
  color: #17335f;
  padding: 14px 26px;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

/* BUTTON HOVER ANIMATION */
.cta-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0b5ed7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
}

.cta-btn:hover {
   background: #0b5ed7;
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(11,94,215,0.4);
  color:#fff;
}

.cta-btn:hover::after {
  transform: scaleX(1);
}

/* Chat Toggle Button */
.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0b5ed7;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
.partners-section {
  position: relative;
  padding: 100px 80px;
  background: url("./images/team.jpg") center/cover no-repeat;
  color: #fff;
}

/* Dark overlay */
.partners-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.75);
}

.partners-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

/* Top Tag */
.top-tag {
  font-size: 12px;
  letter-spacing: 2px;
  color: #b5b5b5;
  display: inline-block;
  margin-bottom: 20px;
}

/* Heading */
.partners-content h2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 60px;
}

/* Cards */
.partners-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* Individual Card */
.partner-card {
  background: #fff;
  color: #000;
  width: 360px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 12px 28px rgba(0,0,0,0.25);
  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

/* LIGHT & SMOOTH HOVER */
.partner-card:hover {
  transform: translateY(-6px); /* light movement */
  box-shadow: 0 20px 40px rgba(11,94,215,0.25);
}


/* Image */
.partner-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* Text */
.card-text {
  padding: 20px;
  text-align: left;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

/* MAIN SECTION */
.faq-section {
  display: flex;
  max-width: 1400px;
  margin: auto;
  background: #fff;
}

/* LEFT */
.faq-left {
  width: 45%;
  background: #1b1b1b;
  display: flex;
  padding: 40px;
  gap: 20px;
}

.left-box {
  background: #19345c;
  color: #fff;
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-box .icon {
  font-size: 34px;
}

.left-box h3 {
  font-size: 22px;
  line-height: 1.4;
}

.quote-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
}

.faq-left img {
  width: 68%;
  object-fit: cover;
}

/* FAQ RIGHT PANEL */
.faq-right {
  width: 55%;
  padding: 60px;
  background: #f7f7f7;
}

/* TITLE */
.small-title {
  font-size: 12px;
  letter-spacing: 2px;
  color: #777;
}

.faq-right h2 {
  font-size: 40px;
  margin: 10px 0 40px;
  color: #111;
}

/* FAQ CONTAINER */
.faq {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* FAQ ITEM */
.faq-item {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* QUESTION BUTTON */
.faq-question {
  width: 100%;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 26px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  transition: background 0.3s ease, color 0.3s ease;
}

/* ICON */
.faq-question span {
  font-size: 22px;
  font-weight: 700;
  transition: transform 0.3s ease;
}

/* ACTIVE QUESTION */
.faq-item.active .faq-question {
  background: #17335f;
  color: #fff;
}

/* ROTATE ICON */
.faq-item.active .faq-question span {
  transform: rotate(180deg);
}

/* ANSWER */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
  background: #fafafa;
  color: #555;
  line-height: 1.8;
  font-size: 15px;
}

/* ACTIVE ANSWER */
.faq-item.active .faq-answer {
  padding: 22px 26px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .faq-right {
    width: 100%;
    padding: 40px 25px;
  }

  .faq-right h2 {
    font-size: 28px;
  }
}

.cta-section {
  position: relative;
  min-height: 90vh;
  background: url("images/team.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(10, 20, 40, 0.85),
    rgba(10, 20, 40, 0.85)
  );
}

/* Center Box */
.cta-box {
  position: relative;
  background: rgba(30, 60, 100, 0.9);
  padding: 60px 80px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  max-width: 900px;
  z-index: 2;
}

.cta-box h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.cta-box p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  background: #ffffff;
  color: #1e3c64;
  padding: 14px 30px;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #dbe6f5;
}

/* Bottom Info Bar */
.info-bar {
  position:absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-around;
  padding: 25px 10%;
  color: #ddd;
  z-index: 3;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 14px;
}

.info-item span {
  font-size: 22px;
  color: #3b82f6;
}

/* Responsive */
@media (max-width: 900px) {
  .cta-box {
    padding: 40px 25px;
  }

  .cta-box h1 {
    font-size: 28px;
  }

  .info-bar {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .info-item {
    justify-content: center;
  }
}

.footer {
  background: linear-gradient(135deg, #0b0b0b, #151515);
  color: #bbb;
  padding-top: 80px;
}

/* MAIN GRID */
.footer-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0 60px 60px;
}

.footer-col h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
}

/* LOGO */
.logo img {
  margin-top: 30px;
  width: 150px;
}

/* SERVICES */
.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #3b82f6;
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.project-grid img {
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  height:100px;
}

.project-grid img:hover {
  transform: scale(1.05);
}

/* NEWSLETTER */
.newsletter {
  display: flex;
  margin-top: 20px;
}

.newsletter input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 14px;
}

.newsletter button {
  background: #1e3c64;
  border: none;
  color: #fff;
  padding: 0 18px;
  font-size: 18px;
  cursor: pointer;
}

/* BOTTOM BAR */
.footer-bottom {
  border-top: 1px solid #222;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #888;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 0 30px 50px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
/* ================= SCROLL ANIMATION (ADD ONLY) ================= */

/* Default hidden */
.scroll-reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

/* From left */
.scroll-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

/* From right */
.scroll-right {
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

/* Active state */
.scroll-reveal.active,
.scroll-left.active,
.scroll-right.active {
  opacity: 1;
  transform: translate(0, 0);
}



/* Chatbot Box */
.chatbot {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  display: none;
  flex-direction: column;
}

/* Header */
.chat-header {
  background: #0b5ed7;
  color: white;
  padding: 12px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
}

/* Body */
.chat-body {
  height: 260px;
  padding: 10px;
  overflow-y: auto;
}

.bot-msg, .user-msg {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 85%;
  font-size: 14px;
}

.bot-msg {
  background: #f1f1f1;
}

.user-msg {
  background: #0b5ed7;
  color: #fff;
  margin-left: auto;
}

/* Footer */
.chat-footer {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.chat-footer input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-footer button {
  background: #0b5ed7;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}
.logout-btn {
  background: #dc3545;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}
/* ================= BUTTON RIPPLE ================= */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.ripple:active::after {
  transform: scale(15);
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}
